html, body {
    background-color: #EEEEEE;
}

.container {
    width: 820px;
}
.content {
    background-color: #FFFFFF;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin: 0 -20px;
    padding: 20px;
}
.page-header {
    background-color: #F5F5F5;
    margin: -20px -20px 20px;
    padding: 20px 20px 10px;
}
.content .span10, .content .span4 {
    min-height: 500px;
}
.content .span4 {
    border-left: 1px solid #EEEEEE;
    margin-left: 0;
    padding-left: 19px;
}
