<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" href="/css/bootstrap.css" />
      <link rel="stylesheet" href="/css/design.css" />
      <title>{% block title %}{% endblock %} - Behat Demo</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>{% block pagetitle %}{% endblock %}</small></h1>
        </div>
        <div class="row">
          <div class="span10">
            {% if contenttitle %} <h2>{% block contenttitle %}{% endblock %}</h2>{% endif %}
            <div id="main-content">{% block content %}{% endblock %}</div>
          </div>
          <div class="span4">
            {% block sidebar %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

